.container
    margin-top: 20px
.example-headers-align 
    padding: 30px
.mat-expansion-panel-header-description 
    justify-content: space-between 
    align-items: center
.mat-mdc-form-field 
    margin-left: 8px 

form
    margin-top: 20px
.btn
    widht:100px

.btn button
    margin-left: 10px